@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
    overflow: hidden;
    margin: 0;
    font-family: Arial;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #e3e5ff;
}
header {
    background-color: #e3e5ff;
    color: #fff;
    height: 120px;
    border-bottom: solid 3px #1b1e3d;
    box-shadow: 1px 1px 4px black;
}
#acm-container {
    background-color: #1b1e3d;
    color: #e3e5ff;
    display: inline-block;
    padding: 50px;
    margin: 0;
    height: 21px;
    width: 10%;
    text-align: center;
}
#acm-container span {
    position: relative;
    top: -23px;
    font-size: 60px;
    font-weight: 300;
}
#title-container {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#title-container span{
    position: relative;
    top: -164px;
    font-size: 30px;
    font-style: normal;
    color: #1b1e3d;
}
#card-symbol {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: #1b1e3d;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    background-color: #e3e5ff;
}
#card-symbol span {
    font-size: 60px;
    padding: 30px;
    position: relative;
    top: -30px;
}
#rfid {
    position: absolute;
    top: 85%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
}
#pincode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#pincode h1 {
    font-size: 40px;
}
#pincode-placeholder {
    font-size: 100px;
    letter-spacing: 30px;
    border: solid 5px black;
    padding: 30px;
    background-color: #fff;
    width: 70%;
    text-align: center;
    border-radius: 100px;
}
.page {
    display: none;
}
.active {
    display: block;
}
#start {
    background-color: #1b1e3d;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #1b1e3d;
    font-size: 30px;
    padding: 10px;
    width: 30%;
    cursor: pointer;
}
#start:hover {
    background-color: #000;
    border: solid 2px #000;
}
#connect-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    font-size: 40px;
}
.left {
    position: absolute;
    top: 62%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.options-container {
    height: 100%;
}
.btn {
    background-color: #1b1e3d;
    border: solid 1px #1b1e3d;
    color: #fff;
    border-radius: 20px;
    margin: 30px;
    width: 80%;
    height: 8vh;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 655;
    font-style: normal;
}
.euro-img {
    width: 286.5px;
    height: 150px;
    margin-top: 10px;
}
.right {
    position: absolute;
    top: 62%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.options-title {
    position: relative;
    left: 37px;
}
#welcome-message {
    position: relative;
    left: 3%;
}
#back {
    position: absolute;
    left: 2%;
    bottom: 2%;
    width: 12%;
    height: 18%;
    font-size: 80px;
    border-radius: 40px;
    background-color: #1b1e3d;
    color: #e3e5ff;
    border: solid 1px #1b1e3d;
    box-shadow: 4px 4px 8px black;
}
#gegevens-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    width: 50%;
    height: 50vh;
    border-radius: 10px;
}
.text-gegevens {
    position: relative;
    left: 20px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 655;
    font-style: normal;
}
#gebruiker-gegevens {
    position: relative;
    left: 10px;
}
.kolom-naam {
    font-size: 28px;
}
#logo {
    width: 150px;
    height: 150px;
    position: relative;
    top: -53px;
    left: -10px;
}
.back-button {
    width: 10%;
    height: 15vh;
    background-color: #1b1e3d;
    color: #fff;
    font-size: 80px;
    position: absolute;
    bottom: 1%;
    left: 1%;
    border: solid 1px #1b1e3d;
    border-radius: 10px;
    cursor: pointer;
}
#geld-invoeren {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#geld-invoeren h1 {
    font-size: 40px;
}
#cash-placeholder {
    font-size: 100px;
    letter-spacing: 30px;
    border: solid 5px black;
    padding: 30px;
    background-color: #fff;
    width: 50%;
    text-align: left;
    border-radius: 100px;
}
#geld-combinatie-veld {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.btn2 {
    background-color: #1b1e3d;
    border: solid 1px #1b1e3d;
    color: #fff;
    border-radius: 20px;
    margin: 30px;
    width: 80%;
    height: 10vh;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 655;
    font-style: normal;
    cursor: not-allowed;
}