.sub-containers {
    width: 50%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
}
#saldo-container {
    left: 0;
    background-color: #434466;
}
#cash-container {
    right: 0;
    background-color: #9C9AC2;
}
.content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    font-size: 40px;
}
.content i {
    font-size: 60px;
}