@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    overflow: hidden;
    margin: 0;
    font-family: Arial;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}
.page {
    display: none;
}
.active {
    display: block;
}
#start {
    background-color: #1b1e3d;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #1b1e3d;
    font-size: 30px;
    padding: 10px;
    width: 30%;
    cursor: pointer;
}
#start:hover {
    background-color: #000;
    border: solid 2px #000;
}
#connect-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    font-size: 40px;
}